* {
  font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

#div_loading {
  display: none;
  position: absolute;
  left: 700px;
  top: 280px;
}

#main_menu {
  display: none;
  position: absolute;
  left: 400px;
  top: 250px;
}

.mainGame {
  margin-right: 15px;
  border: 7px black solid;
}

#game_main {
  display: none;
  width: 1920px;
  height: 1080px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}